Repository organicnz/hybridized-web: changes, and which lefthook commands are due for each by the changed paths.
All: format, type-check

lefthook.yml:

# Lefthook Configuration
# Fast and powerful Git hooks manager

pre-commit:
  parallel: true
  commands:
    format:
      glob: "*.{js,ts,jsx,tsx,json,css,md}"
      run: npx prettier --write {staged_files}
    
    type-check:
      glob: "*.{ts,tsx}"
      run: npx tsc --noEmit

pre-push:
  parallel: false
  commands:
    build:
      run: npm run build

Clean up audio player: remove unused imports and fix deprecation warnings
  .env.example
  app/about/page.tsx
  app/auth/callback/route.ts
  app/auth/forgot-password/page.tsx
  app/auth/login/page.tsx
  app/auth/logout/route.ts
  app/auth/reset-password/page.tsx
  app/auth/signup/page.tsx
  app/profile/page.tsx
  app/search/page.tsx
  app/search/search-results.tsx
  components/audio-equalizer.tsx
  components/audio-player-bar.tsx
  components/auth-required-modal.tsx
  components/auth/protected-route.tsx
  components/auth/social-auth-buttons.tsx
  components/auth/user-menu.tsx
  components/custom-audio-player.tsx
  components/header-with-auth.tsx
  components/iframe-player.tsx
  components/search-bar.tsx
  docs/AUTH.md
  docs/AUTH_CHECKLIST.md
  docs/AUTH_INTEGRATION.md
  docs/AUTH_QUICK_START.md
  docs/equalizer-settings.md
  docs/magic-link-auth.md
  hooks/use-auth.ts
  hooks/use-profile.ts
  lib/audio-player-context.tsx
  lib/auth/session.ts
  lib/auth/utils.ts
  lib/types/database.types.ts
  middleware.ts
  supabase/migrations/20240101000000_auth_setup.sql
Due: format, type-check

Apply autofix formatting
  app/search/search-results.tsx
  components/custom-audio-player.tsx
Due: format, type-check

Fix contact page layout to fit viewport without scrolling
  app/contact/page.tsx
Due: format, type-check

Apply autofix formatting to contact page
  app/contact/page.tsx
Due: format, type-check

Fix audio playback issues - resume AudioContext on play and improve error handling
  components/artist-nav.tsx
  components/audio-equalizer.tsx
  components/audio-player-bar.tsx
  components/custom-audio-player.tsx
  components/iframe-player.tsx
Due: format, type-check

feat: improve auth flow, add avatar upload, and enhance search functionality
  app/auth/callback/route.ts
  app/auth/login/page.tsx
  app/profile/page.tsx
  app/search/page.tsx
  app/search/search-results.tsx
  components/audio-equalizer.tsx
  components/audio-player-bar.tsx
  components/custom-audio-player.tsx
  components/header.tsx
  docs/auth-fix-summary.md
  docs/avatar-upload-implementation.md
  hooks/use-auth.ts
  hooks/use-profile.ts
  lib/utils/image-compression.ts
  middleware.ts
Due: format, type-check

feat: update about page with content from FlutterFlow app
  app/about/page.tsx
  app/auth/login/page.tsx
  app/donation/page.tsx
  app/profile/page.tsx
  app/search/page.tsx
  app/search/search-results.tsx
  components/header.tsx
  docs/auth-fix-summary.md
  docs/avatar-upload-implementation.md
  hooks/use-auth.ts
  lib/utils/image-compression.ts
  middleware.ts
Due: format, type-check

chore: update donation page formatting
  app/donation/page.tsx
Due: format, type-check

chore: update privacy, support, and terms pages formatting
  app/privacy/page.tsx
  app/support/page.tsx
  app/terms/page.tsx
Due: format, type-check

feat: add GPU acceleration utilities and optimize component performance
  .kiro/steering/gpu-acceleration.md
  app/donation/page.tsx
  app/globals.css
  components/audio-controls-panel.tsx
  components/header.tsx
  components/mix-list.tsx
  components/mobile-menu.tsx
  components/search-bar.tsx
Due: format, type-check

fix: correct redirect chain and add domain configuration
  .kiro/steering/gpu-acceleration.md
  app/globals.css
  app/home/page.tsx
  app/page.tsx
  components/audio-equalizer.tsx
  components/custom-audio-player.tsx
  components/mobile-menu.tsx
  components/search-bar.tsx
  docs/auth-fix-summary.md
  docs/equalizer-settings.md
  lib/audio-player-context.tsx
  lib/types/database.types.ts
  next.config.ts
  vercel.json
Due: format, type-check

fix: service worker redirect handling
  app/home/page.tsx
  components/audio-equalizer.tsx
  components/custom-audio-player.tsx
  lib/audio-player-context.tsx
  lib/types/database.types.ts
  next.config.ts
  public/sw.js
Due: format, type-check

fix: completely bypass service worker for navigation requests
  app/register-sw.tsx
  public/sw.js
  public/unregister-sw.js
Due: format, type-check

chore: format service worker files
  app/register-sw.tsx
  public/sw.js
  public/unregister-sw.js
Due: format, type-check

Add download all sets section to about page
  app/about/page.tsx
Due: format, type-check

Add Jon Lisle and Momu/Mark Musselman artists, fix slug generation for special characters
  app/home/[artist]/page.tsx
  components/artist-nav.tsx
Due: format, type-check

Add auth improvements, snapshots, and documentation
  .snapshots/config.json
  .snapshots/readme.md
  .snapshots/sponsors.md
  app/auth/callback/route.ts
  app/auth/confirm-email/page.tsx
  app/auth/forgot-password/page.tsx
  app/auth/handle-recovery/page.tsx
  app/auth/logout/route.ts
  app/auth/reset-password/page.tsx
  app/home/[artist]/page.tsx
  app/profile/page.tsx
  components/artist-nav.tsx
  components/auth/protected-route.tsx
  docs/auth-audit-findings.md
  docs/auth-flows-implementation.md
Due: format, type-check

Update auth recovery flow and documentation
  .snapshots/config.json
  .snapshots/readme.md
  .snapshots/sponsors.md
  app/auth/handle-recovery/page.tsx
  app/auth/reset-password/page.tsx
  app/layout.tsx
  components/auth/recovery-handler.tsx
  docs/auth-audit-findings.md
  docs/auth-flows-implementation.md
Due: format, type-check

fix: upgrade next.js to 16.0.8 to resolve React2Shell vulnerability
  app/auth/reset-password/page.tsx
  package-lock.json
  package.json
Due: format, type-check

chore: upgrade Next.js to 16.1.1 and React to 19.2.3
  package-lock.json
  package.json
  proxy.ts
Due: format, type-check

fix: improve user settings persistence with debouncing and offline support
  app/layout.tsx
  components/audio-equalizer.tsx
  components/audio-player-bar.tsx
  components/custom-audio-player.tsx
  components/language-selector.tsx
  components/search-bar.tsx
  components/sync-indicator.tsx
  hooks/use-profile.ts
  hooks/use-sync-status.ts
  lib/audio-player-context.tsx
  lib/settings-utils.ts
  lib/user-storage.ts
  package-lock.json
  package.json
  supabase/migrations/20250101000001_settings_trigger.sql
Due: format, type-check

feat: add robots.txt to block AI crawlers
  public/robots.txt
Due: none

docs: add CLAUDE.md with project context and security notes
  CLAUDE.md
Due: format

docs: update infrastructure section with hosting details
  CLAUDE.md
Due: format

docs: fix DNS proxy guidance - Vercel requires DNS-only mode
  CLAUDE.md
Due: format

chore: remove package-lock.json (using bun.lock)
  package-lock.json
Due: format

chore: add vercel.json with GitHub auto-deploy config
  vercel.json
Due: format
